section.catalogo>div>section>h1,  section.catalogo>div>section>h2 {
	float: left;
	text-transform:uppercase;
	}

section.catalogo>div>section>h1 {
	font-size: 2em;
	}

section.catalogo>div>section>h2 {
	font-size: 1.5em;
	padding-top:0.25em;
	padding-left:0.5em;
	}
	
section.catalogo>div>section>span>a {
	font-size: 1em;
	color: #A7A9AB;
	text-transform:none;
	}

div.container.catalogo.detalles>section>span {
	padding-left: 0.5em;
	position: relative;
	top: 0.75em;
	}

section.catalogo>div.container.catalogo.detalles>section>aside>h4 {
	font-size: 2em;
	display: inline-block;
	}

/*div.container.catalogo.detalles {
	min-height: 35em;
	}*/

section.catalogo>div.container.catalogo.detalles>section>aside {
	display: inline-block;
	float: right;
	}
div.contenido-descripcion {
	display: inline-block;
	margin-top: 3em;
	}

div.contenido-descripcion>img {
	max-width: 100%;
	float: left;
	}
	
div.contenido-descripcion>p {
	padding-left: 1.5em;
	display: inline;
	line-height: 1.4;
	font-size: 120%;
	position: absolute;
	margin-bottom: 7em;
	}

div.contenido-descripcion {
	display: inline-block;
	margin-top: 2em;
	}

div.container.catalogo.detalles>section {
	margin-top: 2em;
	}

p>h7{
	font-size:2em;
	}

section.catalogo>div.container.catalogo.detalles>section>aside>h4.cuotas {
	padding-right: 0.5em;
	}

@media screen and (max-width: 680px) {
div.contenido-descripcion>img{
	float:none;
	}

div.container.catalogo.detalles {
	height: 100%;
	text-align:center;
	}

section.catalogo>div>section>h1, section.catalogo>div>section>h2{
	float:none;
	}
	
div.container.catalogo.detalles>section>span {
	padding-left: 0;
	position: relative;
	}

section.catalogo>div.container.catalogo.detalles>section>aside {
	display: block;
	float: none;
	margin-top:2em;
	}

div.contenido-descripcion>p {
	display: block;
	padding-top: 2em;
	position: relative;
	padding-left: 0;
	}

section.catalogo>div>section>h2{
	margin-top:0.3em;
	}
}

aside>form {
  width: 9em;
  height: 4em;
  float: left;
  margin: -1em 1em;
}