@charset "utf-8";

span.menu-combo-mobile li a {
	text-align:center;
	background-color:#A7A9AB;
	color:#fff;
	border-bottom:solid 1.5px #fff;
	padding:1em;
	display:block;
}

span.menu-combo-mobile li a:hover {
	background-color:#fff;
	color:#E54016;
}

div.mobile-item {
	position: absolute;
	right: 0;
	text-align: right;
	}

img.menu-ico {
	margin: 2em;
	}
	
span.menu-combo-mobile li ul{
	display:none;
	position:absolute;
	min-width:4em;
	}
	
span.menu-combo-mobile li:hover>ul{
	display:block;
	}
	
span.menu-combo-mobile li ul li{
	position:relative;	
	}

span.menu-combo-mobile li ul li ul{
	left:-10.6em;
	top:0;
	}
.menu-mobile-in>li li a, .contact-mobile>li li a {
	min-width: 8.6em;
	}

div.mobile-item span {
	display:none;
}

div.mobile-item:hover>span {
	display:block;
}

span.menu-combo-mobile{
	background-color:#A7A9AB;
	height:13em;
	width: 13em;
	}

.prim{
	background: url(../img/item-hover.png) no-repeat 8.5em 2.6em transparent;
	}
.seg{
	background: url(../img/item.png) no-repeat 8.5em 2.6em transparent;
	}

button.but-mobile {
	padding: 0;
	margin: 0;
	left: 0;
	}

@media screen and (max-width: 525px) {
span.menu-combo-mobile {
	width: 8em;
	}

.menu-mobile-in>li li a, .contact-mobile>li li a {
	min-width: 6em;
	}

span.menu-combo-mobile li ul li ul {
	left: -8em;
	}

span>ul>li>ul>li {
	z-index: 3;
	}

span.menu-combo-mobile>ul>li>ul>li>ul>li>ul>li {
	right: -8em;
	z-index: 4;
	top: 3.1em;
	border: solid 1px;
	}

input[placeholder="Buscar"] {
	width: 6.5em;
	}
}
