section.reparaciones {
    margin: 0;
    display: inline-block;
    max-height: 100%;
    margin: 2em;
    margin-bottom: 4em;
}

section.reparaciones>div {
    display: inline-block;
}	

section.reparaciones>h1 {
    margin: 0.5em auto 2em auto;
    font-size: 1.25em;
    text-align: center;
    letter-spacing: 0.15em;
}

section.reparaciones>div>img {
	width: 45%;
	float: left;
    box-shadow: -2px 2px 5px #D8D8D8;
    -webkit-box-shadow: -2px 2px 5px #D8D8D8;
    -moz-box-shadow: -2px 2px 5px #D8D8D8;
}

section.reparaciones>div>span {
    width: 45%;
    display: inline-block;
    margin: 0em 1.5em;
}

section.reparaciones>div>span>h1 {
    padding: 0em 0em 1em 0em;
    font-size: 2.8em;
    line-height: 0.85em;
}

section.reparaciones>div>span>p {
    text-transform: none;
    padding: 0.3em 0em;
    font-size: 1.4em;
}

section.reparaciones>div>span>div>aside {
    color: #000;
    font-size: 1.5em;
    margin-right: 0.7em;
    display: inline-block;
}

section.reparaciones>div>span>div>a {
    background-color: #E54016;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 2em;
    letter-spacing: 0.25em;
	
    box-shadow: -3px 4px 1px #DDDDDD;
    -webkit-box-shadow: -3px 4px 1px #DDDDDD;
    -moz-box-shadow: -3px 4px 1px #DDDDDD;
}

section.reparaciones>div>span>div {
    margin: 3.5em 0em;
}