@font-face {
    font-family: 'walkway_condensed_boldregular';
    src: url('/font/walkway_condensed_bold-webfont.eot');
    src: url('/font/walkway_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/walkway_condensed_bold-webfont.woff2') format('woff2'),
         url('/font/walkway_condensed_bold-webfont.woff') format('woff'),
         url('/font/walkway_condensed_bold-webfont.ttf') format('truetype'),
         url('/font/walkway_condensed_bold-webfont.svg#walkway_condensed_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'modern_pictogramsnormal';
    src: url('/font/modernpics.eot');
    src: url('/font/modernpics.eot?#iefix') format('embedded-opentype'),
         url('/font/modernpics.woff2') format('woff2'),
         url('/font/modernpics.woff') format('woff'),
         url('/font/modernpics.ttf') format('truetype'),
         url('/font/modernpics.svg#modern_pictogramsnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
    font-family: 'walkway_condensed_boldregular';
	color: #A7A9AB;
	letter-spacing:0.1em;
	text-transform: uppercase;
}

div.clear {
	clear: both;
}

/*Header*/
header{
	z-index: 3000;
	position: relative;
    height: 5.7em;
	width: 100%;
	background-color: #A7A9AB;
}

header>div>a>div.logo {
    background: url("/img/style/logo.png") 2em 1em no-repeat;
    height: 5em;
    width: 13em;
    display: inline-block;
}

header>div.group{
	display:none;
}

header>div>div.group {
    background-color: #A7A9AB;
    text-align: center;
    width: 9em;
    position: absolute;
    right: 0;
    top: 5.7em;
    display: none;
}

nav.menu.productos>ul>li>a { 
    color: #fff;
}

nav.menu>a, nav.menu.productos>ul>li>a, form {
    display: block;
    padding: 1.5em 1em;
    color: #fff;
}

form {
    padding: 1.5em 0em;
}

form>input[type="search"] { /* Input buscar*/
	padding: 0.5em;
	width: 12em;
	text-align: right;
	border: 0;
}

form>button[type="submit"]{ /* Boton lupa */
	padding: 1.1em;
	background: url("/img/style/lupa-search.png") no-repeat;
	border: 0;
}

nav.menu>a:hover{ /* Rollover */
	color: #E54016;
	background-color: #fff;
}

nav.menu.productos>ul:hover{ /* Rollover productos */
	color: #E54016;
	background: #fff;
}

nav.menu.productos>ul:hover li a {
	color: #E54016;
}

nav.menu.redes>a{
	background-color: #fff;
	color: #A7A9AB;
}

nav.menu.redes>ul {
	display: none;
}

nav.menu.redes:hover ul {
	display: block;
}

nav.menu.redes>a:hover{ /* Rollover contactos */
	background-color: #D8D8D8;
	color: #fff;
}

nav.menu.redes>ul>a>li{
	height: 1.7em;
	width: 100%;
	margin: 0 auto;
	padding: 0.8em 0em;
	border-bottom: solid 1.5px #BBBDBF;
}

nav.menu.redes>ul {
	background-color: #fff;
}

nav.menu.redes>ul>a>li.fb{
	background: url("/img/style/fb-icon.png") 50% no-repeat;
	border-top: solid 1.5px #BBBDBF;
}

nav.menu.redes>ul>a>li.ml{
	background: url("/img/style/ml-icon.png") 50% no-repeat;
}

nav.menu.redes>ul>a>li.it{
	background: url("/img/style/location-icon.png") 50% no-repeat;
}

nav.menu.redes>ul>a>li:hover {
	background-color: #A7A9AB;
}

form>input[type="search"] {
    padding: 0.5em;
    width: 7em;
    text-align: right;
    border: 0;
}

nav.menu.productos>ul>li>a,  nav.menu>a {
    border-bottom: solid 1px;
}

ul.contenido li a { /* subcategorías style */
    min-width: 7em;
	display: block;
	background: #fff;
    padding: 1em 1em;
	border-bottom: solid 1.5px #BBBDC0;
}

nav.menu.productos>ul>li>ul li.item a:hover {
	background: #D8D8D8;
	color: #fff;
}
nav.menu.productos>ul>li>ul l>a:hover {
	background: #A7A9AB;
	color: #fff;
}

ul.desplegable li ul{
	display: none;
	position: absolute;
}

ul.desplegable li:hover>ul{
	display: block;
}

ul.desplegable li ul li{
	position: relative;
}

ul.desplegable li ul li ul{
    left: -9.0em;
	top: 0;
}

ul.desplegable>li>ul>li>ul>li>ul {/*Tercer instancia MOBILE*/
    left: 0em;
    z-index: 1000;
    top: 3.1em;
    border-bottom: solid 2px;
}

/*Menu mobile*/
header>div.boton-desplegable {
    height: 5.7em;
    width: 5em;
    display: inline-block;
    background: url("/img/style/menu-ico.png") no-repeat center;
    position: absolute;
    border-radius: 2em;
    right: 0em;
    top: 0;
}

header>div.boton-desplegable:hover>div.group {
    display: block;
}
/*Fin header*/

/* main */
main {
	background: url("/img/style/background-home.jpg") no-repeat center;
	height: 45%;
	width: 100%;
	background-size: cover;

}

main>div {
    display: none;
}

div.responsive{
	padding: 2em 2em 0em 2em;
}

div.responsive>a>span {
    font-size: 1.3em;
}


div.responsive>a>h1 {
    line-height: 0.8em;
    padding: 0.1em 0em 0.3em 0em;
    font-size: 2.2em;
}

div.responsive>a>p {
    text-transform: none;
}


/* SECTIONS */
section.recomendacion, section.ubicacion {
    padding: 2em;
}

section.recomendacion>h1 {
    padding: 1.1em 0em;
    border-top: solid 1px;
    font-size: 1.8em;
    letter-spacing: 2px;
}

section.recomendacion>div {
    display: inline-block;
    max-width: 100%;
}

section.recomendacion>div>figure {
    max-width: 100%;
    margin-bottom: 1.5em;
}

section.recomendacion>div>figure>figcaption {
    margin-top: 1em;
    min-height: 3em;
}

section.recomendacion>div>figure>figcaption>a>h2 {
    letter-spacing: 1;
    font-size: 1.3em;
    line-height: 0.95em;
    margin-bottom: 0.5em;
}

section.recomendacion>div>figure>figcaption>a>h7 {
    text-transform: none;
}

section.recomendacion>div>figure>hr {
    margin: 2em auto;
}

section.recomendacion>div>figure>img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

section.recomendacion>div>figure>figcaption>p {
    text-transform: none;
}

section.ubicacion {
    background-color: #A7A9AB;
}

section.ubicacion>a>h1 {
    color: #fff;
    padding-bottom: 1em;
    font-size: 1.8em;
    letter-spacing: 2px;
}

section.ubicacion>div>iframe {
    width: 100%;
    min-height: 14em;
}

section.ubicacion>div>div {
    margin-top: 2em;
    text-align: center;
}

section.ubicacion>div>div>address, section.ubicacion>div>div>aside, section.ubicacion>div>div>aside>a {
    color: #fff;
    padding: 0.5em 0em;
}

section.ubicacion>div>div>address {
    font-size: 1.5em;
}

/* fin main */

/* footer */
footer {
	background-color: #E54016;
	text-align: center;
	font-size: 90%;
}

div.details>footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	position: fixed;
}

footer>div {
	display: inline-block;
	padding: 1.2em;
}

footer>div>aside, footer>div>span{
	color: #fff;
}

footer>div>span {
	font-size: 80%;
}

/* fin footer */

/* Thanks */
section.thanks{
	text-align: center;
    margin: 3em;
}

section.thanks>a>h2 {
	border: solid 1px #E54016;
    padding: 0.5em 0.5em 0.5em 0.9em;
    border-radius: 2em;
    font-size: 1em;
    letter-spacing: 0.5em;
	color: #E54016;
    max-width: 18em;
    margin: 2em auto;
}

/*Carrito en todos lados*/
section.all {
    box-shadow: -3px 4px 2px #EFEFEF;
    -webkit-box-shadow: -3px 4px 2px #EFEFEF;
    -moz-box-shadow: -3px 4px 2px #EFEFEF;
    background-color: #fff;
    z-index: 2000;
    position: relative;
}

section.all>div.carro {
    max-width: 16em;
    margin: 0 auto;
}

section.all>div.carro>div {
    display: inline-block;
    width: 15em;
    margin: 0 auto;
    background-color: #fff;
    padding: 0.5em;
}

section.all>div.carro>div>a>input[value="Pagar"] {
    background-color: #E54016;
    border: 0;
    padding: 0.3em 1em;
    margin-top: 0.3em;
    margin-left: 1em;
    border-radius: 2em;
    color: #fff;
	cursor: pointer;
}

section.all>div.carro>div>a>input[value="Pagar"]:hover {
    background-color: #A7A9AB;
    color: #fff;
}

section.all>div.carro>div>span {
    display: inline-block;
    float: left;
}

section.all>div.carro>div>div>span {
    display: inline-block;
    float: left;
}

section.all>div.carro>div>span>p {
    text-transform: none;
    padding: 0.5em;
    color: #4D4D4D;
    letter-spacing: 0.05em;
    display: inline-block;
}

section.all>div.carro>div>div>span>p {
    text-transform: none;
    padding: 0.5em;
    color: #4D4D4D;
    letter-spacing: 0.05em;
    display: inline-block;
}

section.all>div.carro>div>span>p.carrito {
    font-family: modern_pictogramsnormal;
    font-size: 2.5em;
    padding: 0;
    position: absolute;
    color: #A7A9AB;
    margin-left: 0.3em;
    margin-top: -0.3em;
}

section.all>div.carro>div>span>a {
    float: left;
    display: inline-block;
    margin-right: 0.3em;
    padding: 0.5em;
}

section.all>div.carro>div>span>span {
    float: left;
    display: inline-block;
    margin: 0.1em 0.3em 0em 0.3em;
    cursor: pointer;
    font-size: 1.3em;
    font-family: modern_pictogramsnormal;
}

section.all>div.carro>div>div>span>span {
    float: left;
    display: inline-block;
    margin-right: 0.3em;
    padding: 0.5em;
	cursor: pointer;
}

section.all>div.carro>div>span>span:hover {
    color: #E54016;
}

div#itemsCarro{
	display: none;
}

span.pay{
	clear:both;
	background-color: #E54016;
    border: 0;
    color: #fff;
    width: auto;
    padding: 0.2em 1em;
    border-radius: 2em;
	font-size: 1em !important;
	color: #fff !important;
	cursor: pointer;
	margin-top: 10px;
}

a.pay{
	color: #fff !important;
}
/*Fin carrito en todos lados*/